<h2>1. Compose a message.</h2>

	<%= form_for @message, html: {class: "form-horizontal"} do |f| %>
	<div class="form-group">		
		<%= f.text_area :content, class: "form-control input-lg", rows: "3", id: "focusedInput" %>
		<p class="help-block"><em>Messages may contain up to 1600 characters. Messages with more than 160 characters will be auto segmented by Twilio, then automatically reassembled on the destination handset.</em></p>
	  </div>
  </div>
	<div class="form-group">
		<div class="pull-right">
		<%= f.submit 'Create Message', class: "btn btn-primary" %>
		</div>
	</div>
	<% end %>
	<br>

            
