<h1>Success!</h1>
<p><%= @message.text_messages.count %> phone numbers have been successfully queued</p>

<p> Message to be send: <%= @message.content %>

<h3>Ready to send your message? <= button_tag "Go!" > </h3>
