<h1>Success!</h1>
<p><%= @message.text_messages.count %> phone numbers have been successfully queued.</p>

<p> Message to be sent: " <%= @message.content %> "

<%= button_to "Send your message!", send_sms_message_text_messages_path, :method => "post", class: "btn" %>
