<h1>Done.</h1>
<h4>You successfully sent <em>"Hey [Name], <%= @message.content %>"</em> to <%= @message.text_messages.count %> phone numbers.</h4>
<br>
<p><%= link_to "Create another text message.", root_path %>