<h1>Done.</h1>
<h4>You successfully queued <em>"Hey [Name], <%= @message.content %>"</em> to <%= @message.text_messages.count %> phone numbers.</h4>
<p>Check on the status of all messages.</p>
<br>
<p><%= link_to "Create another text message.", root_path %>